
body{
    margin: 0 auto;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 6rem;
    background-color: rgb(226, 188, 160);
}
.cabecera{
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
aside{
    height: 100%;
    width:10rem;
    display: flex;
}
aside svg{
    margin: auto;
}
.enlaces a{
    color: rgb(0, 0, 0);
    margin: 0 .5rem;
    font-size: 18px;
}
main{
    height: max-content;
    max-width: 1024px;
    margin: 1.5rem auto;
}
footer{
    height: max-content;
    max-width: 1024px;
    margin: 1.5rem auto;
}
