body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}
main{
    width: 100%;
    height: 100vh;
}
h1{
    text-align:center;
    margin: 0 auto;
}
.pokemons{
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.slice{
    margin: auto;
    width: 20rem;
    height: 15%;
    display: flex;
}
.pokemon{
    max-width: 100px;
    max-height: 100px;
}
section{
    margin: auto;
    height: 2rem;
    display: flex;
}
h4{
    margin-top: 5px;
}
input{
    height: 100%;
    width: 2rem;
    text-align: center;
    border: none;
}
button{
    height: 100%;
}
.loader{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    z-index: 999;
    transition: all .2s ease;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.active{
    visibility: visible;
    background-color: aliceblue;
}