body{
    margin: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    background-color: rgb(139, 139, 139);
}
h1,h2,a,p,h3{
    text-align: center;
}
h1{
    margin: .2rem;
}
h2{
    margin-bottom: 0.2rem;
}
img{
    width: 40%;
    height: auto;
    margin: 2rem auto;
}
#loader{
    width: 2%;
    height: auto;
    margin: .5rem auto;
}
figure{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(197, 197, 197);
    padding: .5rem;
    border: 2px black solid;
}
.contenedorPosts >*{
    width: 80%;
    margin: auto;
}
.contenedorPosts{
    display: flex;
    flex-direction: column;
}
p{
    width: 80%;
}
details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
details >*{
    margin: auto;
}
.contenedorSitio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .8rem;
}
details div{
    display: flex;
    flex-direction: column;
    align-items: center;
}